<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.h2rd.fjson</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5D1B1AA3-78BC-488A-8CC8-0511432F2B20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BEDFCC0-C1D7-49A0-9866-D50B191DEB3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7BEDFCC0-C1D7-49A0-9866-D50B191DEB3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A90EA891-90E9-4C7F-BBE7-A43CD8E0770D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8CAE90D3-5924-46A6-BD2B-E4C8B9C5B391</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABBB9A05-F21D-4FF5-AB4A-E154AB826383</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ABBB9A05-F21D-4FF5-AB4A-E154AB826383</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>995CAD65-DF69-4688-9C68-1B02AF654B2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Igor Skrynkovskyy</string>
	<key>description</key>
	<string>json pretty / minify shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FJSON</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>json is pretty</string>
				<key>title</key>
				<string>FSJSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>995CAD65-DF69-4688-9C68-1B02AF654B2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste | python -m json.tool | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ABBB9A05-F21D-4FF5-AB4A-E154AB826383</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8CAE90D3-5924-46A6-BD2B-E4C8B9C5B391</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D1B1AA3-78BC-488A-8CC8-0511432F2B20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste | python -c 'import sys,json;print(json.dumps(json.loads(sys.stdin.read())))' | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BEDFCC0-C1D7-49A0-9866-D50B191DEB3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>json is minified</string>
				<key>title</key>
				<string>FSJSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A90EA891-90E9-4C7F-BBE7-A43CD8E0770D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5D1B1AA3-78BC-488A-8CC8-0511432F2B20</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>7BEDFCC0-C1D7-49A0-9866-D50B191DEB3D</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>8CAE90D3-5924-46A6-BD2B-E4C8B9C5B391</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>995CAD65-DF69-4688-9C68-1B02AF654B2A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A90EA891-90E9-4C7F-BBE7-A43CD8E0770D</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>ABBB9A05-F21D-4FF5-AB4A-E154AB826383</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/h2rd</string>
</dict>
</plist>
